
.card{
	-webkit-filter: blur(2px);
	filter: blur(2px);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;

    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}
.card:hover {
	-webkit-filter: blur(0);
	filter: blur(0);

    -webkit-transform: scale(1.3);
	transform: scale(1.3);
}